<h1> Create new article </h1>

<%= form_for :article, url: articles_path, data: {turbo:false} do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title%>

  </p>

  <p>
    <%= f.label :body %><br/>
    <%= f.text_field :body%>
  </p>

  <p>
    <%= f.submit%>
  </p>
<% end %>